<%= layout("/layouts/boilerplate") %>
<section class="new">
    <form action="/stories/<%= story.id %>?_method=put" method="post">
        <div class="field">
            <label for="">title</label>
            <input
                type="text"
                name="story[title]"
                id=""
                value="<%= story.title%>"
            />
        </div>
        <div class="field">
            <label for="status">status</label>
            <select name="story[status]" id="status">
                <option value="public">public</option>
                <option value="private">private</option>
            </select>
        </div>
        <div id="editor">
            <label for="body">body</label>
            <textarea name="story[body]" id="" cols="30" rows="10">
<%= story.body %></textarea
            >
        </div>
        <button>send</button>
    </form>
</section>
