<%= layout("/layouts/boilerplate") %>
<!-- <section class="new">
    <form action="/stories" method="post">
        <div class="field">
            <label for="">title</label>
            <input type="text" name="story[title]" id="" />
        </div>
        <div class="field">
            <label for="status">status</label>
            <select name="story[status]" id="status">
                <option value="public">public</option>
                <option value="private">private</option>
            </select>
        </div>
        <div id="editor">
            <label for="body">body</label>
            <textarea name="story[body]" id="" cols="30" rows="10"></textarea>
        </div>
        <button>send</button>
    </form>
</section> -->
<section class="new">
    <h2 class="main-tiatle">add new story</h2>
    <form action="/stories" method="post">
        <input type="text" placeholder="title" name="story[title]" />
        <textarea name="story[body]" id="editor"></textarea>
        <label for="status">Status :</label>
        <div class="select-container">
            <select name="story[status]" id="status">
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>
            <div class="icon-container">
                <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
        <input type="submit" value="Add" />

        <!-- <button>hie</button> -->
    </form>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("editor");
    </script>
</section>
