<%= layout("./layouts/boilerplate") %>
<h2 class="main-tiatle"><%= mainTitle %></h2>
<% if(stories.length) {%> <%- include("../partials/stories.ejs") %> <% } else {
%>
<p class="stories-not-found" style="text-align: center">
    You have not <%= mainTitle %> yet ! <i class="fa fa-dfdkf"></i>
</p>
<% } %>
