<% let dateNow = new Date()%>
<footer>
    <div>
        Made With <span> <i class="fa-solid fa-heart heart"></i> </span> By Mo
        Alfadel & Alsadig Almahadi
    </div>
    <div>&COPY; StoryBooks <%= dateNow.getFullYear() %></div>
</footer>
