<header>
    <nav class="">
        <div class="links-container">
            <div class="menu" id="menuBtn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="links" id="links">
                <li>
                    <a href="/">
                        <i class="fa-solid icon fa-home"></i>
                        home</a
                    >
                </li>
                <li>
                    <a href="/auth/dashboard"> dashboard</a>
                </li>
                <li>
                    <a href="/stories"> stories</a>
                </li>
                <li>
                    <a href="/stories/new">
                        <i
                            class="fa fa-plus-square icon"
                            aria-hidden="true"
                        ></i>
                        new story
                    </a>
                </li>

                <li>
                    <a href="/auth/login"> sign in </a>
                </li>
            </ul>
        </div>
        <div class="logo">
            <h1>StoryBooks</h1>
        </div>
    </nav>
</header>
