<header>
    <nav class="">
        <div class="links-container">
            <div class="menu" id="menuBtn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="links" id="links">
                <div>
                    <li>
                        <a href="/">
                            <i class="fa-solid icon fa-home"></i>
                            home</a
                        >
                    </li>
                    <li>
                        <a href="/users/dashboard">
                            <i class="fa fa-user icon"></i>
                            dashboard</a
                        >
                    </li>
                    <li>
                        <a href="/stories">
                            <i class="fa fa-book-open icon"></i>
                            stories</a
                        >
                    </li>
                    <li>
                        <a href="/stories/new">
                            <i
                                class="fa fa-plus-square icon"
                                aria-hidden="true"
                            ></i>
                            new story
                        </a>
                    </li>
                </div>
                <div>
                    <li>
                        <a href="/auth/login">
                            <i
                                class="fa icon fa-sign-in"
                                aria-hidden="true"
                            ></i>
                            sign in
                        </a>
                    </li>
                    <li>
                        <a href="/auth/logout">
                            <i
                                class="fa icon fa-sign-out"
                                aria-hidden="true"
                            ></i>

                            logout
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        <div class="logo">
            <h1>StoryBooks</h1>
        </div>
    </nav>
</header>
