:root {
  --main-clr: #050438;
  --secund-clr: #dbdbf3;
  --text-clr: #eee;
  --secund-text-clr: #707070;
  --bc-clr: #f4f4f4;
  --third-clr: #e5e5fd;
}

.main-tiatle {
  border: 1px solid black;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto 30px;
  font-size: 1.1rem;
  z-index: 1;
  position: relative;
  transition: 3s;
  border-radius: 20px;
  text-transform: capitalize;
  cursor: pointer;
}
.main-tiatle:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--main-clr);
  border-radius: 50%;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  transition: 2s;
}
.main-tiatle::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--main-clr);
  border-radius: 50%;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  transition: 0.3s;
}
.main-tiatle:hover:before {
  animation: left-move 0.5s linear forwards;
  z-index: -1;
}
.main-tiatle:hover::after {
  animation: right-move 0.5s linear forwards;
  z-index: -1;
}
.main-tiatle:hover {
  color: #fff;
  border-color: #fff;
  transition-delay: 0.01s;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
}
/* ? start global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f4f4f4;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 550px) {
  .container {
    width: 520px;
  }
}
@media (min-width: 762px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400) {
  .container {
    width: 1320px;
  }
}

a {
  text-decoration: none;
  color: var(--main-clr);
  transition: color 0.4s ease;
}
a:hover {
  color: var(--secund-text-clr);
}

main.container {
  padding: 15px 15px;
  margin-top: 70px;
  margin-bottom: 100px;
  min-height: calc(100vh - 70px);
  position: relative;
  transition: opacity 0.4s ease-in-out;
}
main.container.active {
  opacity: 0.5;
}

header nav {
  display: flex;
  align-items: center;
  background-color: var(--main-clr);
  padding: 0 20px;
  color: var(--third-clr);
  position: fixed;
  z-index: 343434;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  text-transform: capitalize;
}
header nav .links-container .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 4px;
  cursor: pointer;
  position: relative;
  width: 23px;
}
header nav .links-container .menu span {
  display: inline-block;
  width: 23px;
  height: 3px;
  background-color: var(--third-clr);
  transition: ease-in-out 0.4s;
  border-radius: 1.5px;
}
header nav .links-container .menu.active span {
  position: absolute;
  left: 0;
}
header nav .links-container .menu.active span:nth-child(2) {
  display: none;
}
header nav .links-container .menu.active span:nth-child(1) {
  transform: rotate(45deg);
}
header nav .links-container .menu.active span:nth-child(3) {
  transform: rotate(-45deg);
}
header nav .links-container .links {
  position: absolute;
  width: 250px;
  height: calc(100vh - 70px);
  top: 70px;
  list-style-type: none;
  z-index: 8888;
  transition: left 0.4s ease-in-out;
  left: -200vh;
  background-color: var(--main-clr);
  color: var(--third-clr);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
}
header nav .links-container .links.active {
  left: 0;
}
header nav .links-container .links form.search-menu {
  display: inline;
}
header nav .links-container .links form.search-menu input {
  width: 175px;
  padding: 6px 10px;
  border: none;
  border-radius: 20px;
  background-color: var(--third-clr);
  font-size: 14px;
}
header nav .links-container .links form.search-menu input:focus {
  outline: none;
}
header nav .links-container .links li {
  padding: 15px 20px;
}
header nav .links-container .links li .icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--third-clr);
  margin-right: 5px;
  color: var(--main-clr);
}
header nav .links-container .links li .icon-container.search {
  transform: translateY(3px);
}
header nav .links-container .links li a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.4s linear;
}
header nav .links-container .links li a.active, header nav .links-container .links li a:hover {
  opacity: 0.77;
}
header nav .links-container .links li.sub-menu .title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
header nav .links-container .links li.sub-menu .title .down-icon {
  transition: transform 0.4s linear;
}
header nav .links-container .links li.sub-menu .title .down-icon.active {
  transform: rotate(180deg);
}
header nav .links-container .links li.sub-menu .sub-links {
  font-size: 14px;
  overflow: hidden;
  transition: transform 0.3s linear, height 0.3s linear;
  transform: scaleY(0);
  transform-origin: 0% 0%;
  height: 0;
}
header nav .links-container .links li.sub-menu .sub-links.active {
  height: 100%;
  transform: scaleY(1);
}
header nav .links-container .links li.sub-menu .sub-links li {
  padding: 0;
  list-style-type: none;
  text-transform: none;
  margin: 15px 20px 0 15px;
}
header nav .logo {
  flex-grow: 2;
  text-align: center;
  font-weight: 400;
  margin-left: -23px;
}
header nav .logo h1 {
  font-size: 1.7rem;
}

.btn {
  margin: 10px 0;
  background-color: var(--secund-clr);
  color: var(--main-clr);
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 10px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  font-weight: bold;
  border: none;
  text-transform: capitalize;
  transition: 0.4s ease-in-out;
  font-weight: initial;
  font-size: 1rem;
  text-decoration: none;
}
.btn.danger {
  background-color: var(--negative-clr);
  color: var(--secund-clr);
}
.btn.positive {
  background-color: var(--positive-clr);
  color: var(--secund-clr);
}
.btn a {
  text-decoration: none;
  color: inherit;
  font-weight: initial;
  font-size: inherit;
}

.btn-states {
  transition: 0.4s ease-in-out;
}
.btn-states:hover {
  background-color: var(--secund-clr);
  box-shadow: 0 -1px 0 rgba(170, 168, 168, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.btn-states:active {
  background-color: #f4f4f4;
  color: var(--main-clr);
}
.btn-states:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}
.btn-states:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.flash {
  padding: 20px;
  margin-bottom: 50px;
  color: var(--main-clr);
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.flash.success {
  background-color: rgba(44, 242, 44, 0.2431372549);
}
.flash.error {
  background-color: rgba(251, 0, 21, 0.1921568627);
}
.flash button {
  position: absolute;
  z-index: 34;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  transition: 0.4s ease-in-out;
  color: inherit;
  padding: 5px;
}
.flash button:hover {
  border: 1px solid var(--text-clr);
}

footer {
  height: 90px;
  background-color: var(--secund-clr);
  padding: 20px 0;
  color: var(--main-clr);
  line-height: 1.6;
}
footer div {
  text-align: center;
}
footer span {
  display: inline-block;
  color: #ff1212;
  width: 20px;
}
footer span .heart {
  animation: scale 0.4s linear infinite;
}

form.search {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 0 auto;
}
form.search input {
  padding: 7px 10px 7px 30px;
  border: none;
  display: block;
  width: 280px;
  margin: 30px auto;
  border-radius: 20px;
  border: 1.5px solid var(--secund-clr);
}
form.search input:focus {
  outline: none;
  border: 1.5px solid var(--main-clr);
}
form.search .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #707070;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
/* ! end global */
.home .box {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.home .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.home .box .head {
  display: flex;
  align-items: center;
}
.home .box .head img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}
.home .box .head .info span {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
}
.home .box .head .info span:nth-child(2) {
  font-size: 12px;
  color: #888;
  margin-top: 7px;
}
.home .box .story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 14px;
}
.home .box .story .story-title {
  font-size: 18px;
  font-weight: 500;
  color: #545454;
  margin: 7px 0;
}
.home .box .story p {
  font-size: 14px;
  color: #707070;
  text-align: center;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  line-height: 1.5;
}
.home .box .story .button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: var(--main-clr);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  text-decoration: none;
}

.grid-lay {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  margin: 0 5px 20px 5px;
}

.new form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.new form input[type=text] {
  background-color: #eee;
  border: none;
  padding: 10px;
  border-radius: 6px;
}
.new form input[type=text]:focus {
  outline: none;
}
.new form input[type=submit] {
  background-color: var(--main-clr);
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  border: none;
}
.new form label {
  text-transform: uppercase;
  margin-top: 10px;
}
.new form .select-container {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 250px;
}
.new form .select-container select {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 30px 10px 15px;
  border-radius: 6px;
  width: 100%;
  color: #fff;
  background-color: var(--secund-clr);
  color: var(--main-clr);
  font-size: 1rem;
  cursor: pointer;
}
.new form .select-container .icon-container {
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(5, 4, 56, 0);
}
.new form .select-container .icon-container .fa-caret-down {
  font-size: 30px;
  color: var(--main-clr);
}
.new form .editor {
  font-size: 1rem;
}

.show-user .icon {
  margin-right: 6px;
}
.show-user .title {
  font-weight: 500;
  background-color: var(--text-clr);
  color: var(--secund-text-clr);
  padding: 5px;
  display: inline-block;
  width: 70px;
  text-align: center;
}
.show-user .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  margin: 10px;
  padding: 10px 5px;
  background-color: #f8f7f7;
  border-radius: 6px;
  color: var(--secund-text-clr);
}
.show-user .box.filter {
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  gap: 10px;
}
@media (min-width: 762px) {
  .show-user .box.filter {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.show-user .box:first-child {
  margin-top: 0;
}
.show-user .box .title {
  position: relative;
}
.show-user .box .title::before {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-top-color: var(--text-clr);
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}
.show-user .box .box-title {
  width: calc(100% - 70px - 90px - 14px);
  color: var(--main-clr);
}
.show-user .box .box-title:hover {
  color: inherit;
}
@media (max-width: 570px) {
  .show-user .box .box-title:not(.title) {
    font-size: 14px;
  }
}
.show-user .box .time {
  font-size: small;
  font-weight: 500;
  width: 90px;
  text-align: center;
}
.show-user .box .time.title {
  font-size: 16px;
  font-weight: 300;
}
.show-user .box .control {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.show-user .box.filter li,
.show-user .main-filter li {
  width: 125px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  border: 1.5px solid var(--secund-clr);
  font-size: 14px;
  padding: 5px 6px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--text-clr);
  transition: 0.4s ease-in-out;
}
.show-user .box.filter li.activeBtn, .show-user .box.filter li:hover,
.show-user .main-filter li.activeBtn,
.show-user .main-filter li:hover {
  background-color: var(--secund-clr);
  color: var(--main-clr);
  border-color: var(--main-clr);
}
.show-user .info-container {
  margin-bottom: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.show-user .info-container .user-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
  background-color: var(--third-clr);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.show-user .info-container .user-info.dashboard {
  display: block;
  background-color: var(--secund-clr);
  padding-left: 20px;
}
.show-user .info-container .user-info .img-name {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--main-clr);
}
.show-user .info-container .user-info .img-name img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.show-user .info-container .user-info .btn {
  background-color: var(--text-clr);
}
.show-user .info-container .more-info {
  background-color: #fff;
  padding: 10px;
  color: var(--secund-text-clr);
  line-height: 1.6;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  overflow: hidden;
}
.show-user .info-container .more-info .title {
  position: relative;
  margin-right: 10px;
}
.show-user .info-container .more-info .title::before {
  content: "";
  position: absolute;
  border: 8px solid transparent;
  border-left-color: var(--text-clr);
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
}
.show-user .info-container .more-info .title.followed-by {
  width: -moz-fit-content;
  width: fit-content;
}
.show-user .info-container .more-info .email,
.show-user .info-container .more-info .joined,
.show-user .info-container .more-info .follow-container {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f8f7f7;
  transition: transform 0.4s linear;
}
.show-user .info-container .more-info .email.show,
.show-user .info-container .more-info .joined.show,
.show-user .info-container .more-info .follow-container.show {
  transform: translateX(0);
}
.show-user .info-container .more-info .email {
  transform: translateX(-120%);
}
.show-user .info-container .more-info .joined {
  transform: translateX(120%);
}
.show-user .info-container .more-info .follow-container {
  transform: translateX(-120%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 0;
  align-items: center;
}
.show-user .info-container .more-info .follow-container .icon {
  font-size: 15px;
  display: inline-block;
  margin-top: -10px;
}
.show-user .main-filter {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  background-color: var(--secund-clr);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding: 15px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.show-user .main-filter.profile {
  background-color: var(--third-clr);
}
.show-user .main-filter li {
  background-color: var(--text-clr);
  color: var(--secund-text-clr);
  justify-content: space-evenly;
}
.show-user .main-filter li.activeMainBtn, .show-user .main-filter li:hover {
  background-color: var(--main-clr);
  color: var(--text-clr);
}
.show-user .main-container {
  background-color: #fff;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 0;
  width: 0;
  overflow: hidden;
}
.show-user .main-container.profile {
  width: 100%;
  height: 100%;
}
.show-user .main-container.activeMainContainer {
  position: relative;
  animation-name: full-height;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
.show-user .main-container.stories-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.show-user .main-container.stories-container button:focus {
  outline: none;
}
.show-user .main-container.stories-container button:hover {
  color: red;
}
.show-user .main-container .stories-box,
.show-user .main-container .follow-box {
  width: 0;
  height: 0;
  overflow: hidden;
}
.show-user .main-container .stories-box.activeBox,
.show-user .main-container .follow-box.activeBox {
  position: relative;
  animation-name: full-height;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes full-height {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 100%;
    height: 100%;
  }
}
.show-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.show-page-container .box {
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
}
.show-page-container .box .head {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--third-clr);
  color: var(--main-clr);
}
.show-page-container .box .head img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.show-page-container .box .head .info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show-page-container .box .head .info .wr-details span {
  display: block;
}
.show-page-container .box .head .info .wr-details span.date {
  font-size: 12px;
}
.show-page-container .box .head .info .buttons button {
  border: none;
  padding: 6px 9px;
  background-color: var(--main-clr);
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.show-page-container .box .head .info .buttons button.delete {
  background-color: #f44336;
  font-weight: bold;
}
.show-page-container .box .head .info .buttons form {
  display: inline;
}
.show-page-container .box .story {
  margin: 0 6px;
  padding: 10px;
}
.show-page-container .box .story .story-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
.show-page-container .box .story .sroty-body {
  line-height: 1.5;
  color: #00171f;
  font-weight: 500;
  font-size: 17px;
}
.show-page-container .box .likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #eee;
  padding: 10px;
}
.show-page-container .box .likes .likes-container {
  display: flex;
  gap: 5px;
  font-weight: bold;
  color: var(--main-clr);
}
.show-page-container .box .likes button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.show-page-container .box .likes button.save {
  background-color: var(--main-clr);
  color: var(--third-clr);
  padding: 5px;
  border-radius: 6px;
}
.show-page-container .comment-section {
  margin: 20px auto;
  width: 100%;
}
@media (max-width: 767px) {
  .show-page-container .comment-section {
    width: 480px;
  }
}
@media (max-width: 500px) {
  .show-page-container .comment-section {
    width: 100%;
  }
}
.show-page-container .comment-section img {
  width: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.show-page-container .comment-section .flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.show-page-container .comment-section .flex .reply {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.show-page-container .comment-section .flex .reply .lic-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  margin-left: 5px;
}
.show-page-container .comment-section .flex .reply .lic-icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--main-clr);
}
.show-page-container .comment-section .flex .reply .lic-icon button .icon {
  color: var(--main-clr);
}
.show-page-container .comment-section .flex .reply .lic-icon button:hover {
  color: #000;
}
.show-page-container .comment-section .comment-list,
.show-page-container .comment-section .comment-box {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1333333333);
}
.show-page-container .comment-section .comment-list {
  width: 100%;
  margin-bottom: 12px;
}
.show-page-container .comment-section .comment-list .user {
  display: flex;
  align-items: center;
  padding: 8px;
  overflow: hidden;
}
.show-page-container .comment-section .comment-list .user .name {
  text-transform: uppercase;
  font-weight: 600;
}
.show-page-container .comment-section .comment-list .user .date {
  font-size: 12px;
}
.show-page-container .comment-section .post-comment .comment {
  padding: 0 5px 15px 58px;
}
.show-page-container .comment-section .delete {
  display: flex;
  justify-content: flex-end;
}
.show-page-container .comment-section .delete button {
  padding: 10px;
  border: none;
  background-color: var(--third-clr);
  border-top-left-radius: 6px;
  cursor: pointer;
}
.show-page-container .comment-section .delete button .icon {
  color: var(--main-clr);
  transition: color 0.3s linear;
}
.show-page-container .comment-section .delete button:hover .icon {
  color: red;
}
.show-page-container .comment-section .comment-box {
  padding: 10px;
  overflow: hidden;
}
.show-page-container .comment-section .comment-box .user {
  display: flex;
  align-items: center;
  width: -moz-min-content;
  width: min-content;
  margin-bottom: 5px;
}
.show-page-container .comment-section .comment-box .user img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.show-page-container .comment-section .comment-box .comment-container {
  padding: 5px;
}
.show-page-container .comment-section .comment-box .comment-container textarea {
  background-color: #eee;
  height: 152px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 8px;
  resize: none;
  width: 100%;
}
.show-page-container .comment-section .comment-box .comment-container textarea:focus {
  outline: none;
}
.show-page-container .comment-section .comment-box .comment-submit {
  margin-top: 5px;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  padding: 6px 14px;
  background-color: var(--main-clr);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.sign-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}
.sign-container > * {
  margin-bottom: 10px;
}
.sign-container h2 {
  color: var(--main-clr);
}
.sign-container h3 {
  color: var(--main-clr);
}
.sign-container p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--secund-text-clr);
}
.sign-container .google-signin-btn {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
  background: var(--main-clr);
  color: #fff;
  border: 1px solid var(--main-clr);
  border-radius: 4px;
  white-space: nowrap;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background 0.4s ease, color 0.4s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.sign-container .google-signin-btn:hover, .sign-container .google-signin-btn:active {
  background: #eee;
  color: var(--main-clr);
}
.sign-container .google-signin-btn .google-logo {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

main.home-page {
  height: 100vh;
  background-color: var(--secund-clr);
}
main.home-page .content {
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
main.home-page .content .info {
  text-align: center;
  line-height: 1.6;
}
main.home-page .content .info h1 {
  margin: 0;
  text-align: center;
  color: var(--main-clr);
  letter-spacing: 5px;
}
main.home-page .content .info p {
  max-width: 290px;
  margin: 10px auto;
  text-transform: uppercase;
  font-weight: 200;
  color: #595959;
}
main.home-page .content .button {
  background-color: var(--main-clr);
  color: var(--secund-clr);
  padding: 8px 10px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  text-align: center;
}
main.home-page .content .button .icon {
  margin-right: 10px;
}
main.home-page .links {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 280px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin: 30px auto;
  list-style: none;
}
main.home-page .links span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--main-clr);
  color: var(--secund-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  border: 2px solid var(--main-clr);
  transition: 0.4s ease-in-out;
}
main.home-page .links span:hover,
main.home-page .links span a:active {
  background-color: var(--secund-clr);
  color: var(--main-clr);
}
main.home-page footer.home {
  margin: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  background-color: transparent;
  font-weight: 200;
  height: -moz-fit-content;
  height: fit-content;
}
main.home-page footer.home b {
  font-weight: 600;
  letter-spacing: 1.5px;
}
main.home-page footer.home p {
  font-size: 1rem;
  letter-spacing: 3px;
}/*# sourceMappingURL=main.css.map */