<%= layout("/layouts/boilerplate") %>
<section class="sign">
    <div class="sign-container">
        <h2>StoryBooks</h2>
        <h3>Welcome to StoryBooks!</h3>
        <p>
            Read and write amazing stories and share your thoughts by
            commenting.
        </p>
        <a href="/auth/google" class="google-signin-btn">
            <img
                class="google-logo"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/24px-Google_%22G%22_Logo.svg.png"
                alt=""
            />
            Sign in with Google
        </a>
    </div>
</section>
