.box{
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover{
        transform: translateY(-10px);
        box-shadow: 0 2px 15px rgb(0 0 0 /20%);
    }
    .head{
        display: flex;
        align-items: center;
        img{
            width: 48px;
            height: 48px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .info{
            span{
                display: block;
  font-size: 18px;
  text-transform: capitalize;
            }
            span:nth-child(2) {
                font-size: 12px;
                color: #888;
                margin-top: 7px;
              }
        }
    }
    .story{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px 14px;
        .story-title{
            font-size: 18px;
            font-weight: 500;
            color: #333;
         }
p{
    font-size: 14px;
    color: #707070;
    text-align: center;
    height: 50px;
    overflow: hidden;
    text-overflow:ellipsis;
}
       .button{
        border: none;
        font-size: 16px;
        color: #fff;
        padding: 8px 16px;
        background-color: var(--main-clr);
        border-radius: 6px;
        margin: 14px;
        cursor: pointer;
       }
    }
}