.new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .box {
    background-color: #fff;
    border-radius: 6px;
    min-height: calc(100vh - 70px);
    padding: 10px;
    overflow: hidden;
    .head {
      display: flex;
      align-items: center;
      margin: 10px 6px;
      img {
        width: 60px;
        margin-right: 10px;
      }
      .info{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      .wr-details span{
        display: block;
      }
      .buttons button{
        border: none;
        padding: 6px 9px;
        background-color: var(--main-clr);
        color: #fff;
        border-radius: 6px;
        cursor: pointer;
        &.delete{
          background-color: #f44336;
          font-weight: bold;
        }
      }
    }
    }
    .story {
      margin: 0 6px;
      .story-title {
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        text-transform: capitalize;
      }
      .sroty-body {
        line-height: 1.5;
        font-size: 20px;
        color: #00171f;
        font-family:'Times New Roman', Times, serif;
        font-weight: 500;
      }
    }
  }
  .comment-section {
    height: auto;
    margin: 10px auto;
    @media (max-width:767px) {
        width: 480px;
    }
    @media (max-width:500px) {
        width: 100%;
    }
    img {
      width: 40px;
      margin-right: 10px;
    }
    .flex {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .reply {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        .lic-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          color: #777;
          margin-left: 5px;
          .fa-thumbs-up {
            margin-left: 5px;
          }
        }
      }
    }
    .comment-list,
    .comment-box {
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0 2px 2px #0002;
    }
    .comment-list {
      width: 100%;
      margin-bottom: 12px;
      .user {
        display: flex;
        padding: 8px;
        overflow: hidden;
        .name {
          text-transform: uppercase;
          font-weight: 600;
        }
        .date {
          font-size: 12px;
        }
      }
    }
    .post-comment .comment {
      padding: 0 0 15px 58px;
    }
    .comment-box {
      padding: 10px;
      overflow: hidden;
      .user {
        display: flex;
        width: min-content;
        img {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }
      textarea {
        resize: none;
        background-color: #eee;
        width: -webkit-fill-availablle;
        height: 152px;
        margin: 10px 0;
        border: none;
        border-radius: 4px;
        box-shadow: 0 0 0 5px #0003;
        &:focus {
          outline: none;
        }
      }
      .comment-submit {
        width: fit-content;
        float: right;
        padding: 6px 14px;
        background-color: var(--main-clr);
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 2px;
      }
    }
  }
}
