@use "../helpers/varibles" as *;

.sign-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    & > * {
        margin-bottom: 10px;
    }
    h2 {
        color: var(--main-clr);
    }
    p {
        font-size: 1rem;
        line-height: 1.5;
        color: var(--secund-text-clr);
    }

    .google-signin-btn {
        display: inline-block;
        width: fit-content;
        margin: 10px auto;
        background: var(--main-clr);
        color: #fff;
        border: 1px solid var(--main-clr);
        border-radius: 4px;
        white-space: nowrap;
        padding: 10px 24px;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: background 0.4s ease, color 0.4s ease;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover,
        &:active {
            background: #eee;
            color: var(--main-clr);
        }
        .google-logo {
            width: 22px;
            height: 22px;
            margin-right: 10px;
        }
    }
}
